<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivaldi Menu</title>
    <link rel="stylesheet" href="./style.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
    <div id="menu">
        <section>
            <label>
                <input type="radio" value="en" v-model="$i18n.locale" />
                <span>English</span>
            </label>
            <label>
                <input type="radio" value="zh" v-model="$i18n.locale" />
                <span>中文</span>
            </label>
            <a class="github-button" href="https://github.com/0x401/Vivaldi-Menu" data-icon="octicon-star" data-show-count="true" aria-label="Star 0x401/Vivaldi-Menu on GitHub">Star</a>
        </section>

        <input v-show="false" id="import" type="file" @change="loadJson" accept=".json" />
        <section>
            <button @click="importFile">{{$t('import')}}</button>
            <select v-model="menuSelected" @change="showMenu">
                <option disabled value="">{{ $t('select_a_menu')}}</option>
                <template v-for="menu,index in menus">
                    <option :value="index" v-if="menu.action">{{ $t( menu.action ) }}</option>
                </template>
            </select>
            <select v-model="cmdSelected" @change="searchMenu">
                <option disabled value="">{{ $t('select_a_cmd')}}</option>
                <option :value="cmd" v-for="cmd in commands">{{ $t(cmd) }}</option>
            </select>
        </section>
        <section class="filterMenu" v-show="filterMenuShow">
            <template v-for="item in filterMenu">
                <button v-if="Array.isArray(item.action)" @click="gMenu(item)">
                    <template v-for="action,i in item.action">
                        {{ i>0?' > '+$t(action):$t(action)}}
                    </template>
                </button>
                <button v-else @click="gMenu(item)">{{ $t(item.action) }}</button>
            </template>
        </section>
        <div class="menu" v-show="menuShow">
            <menu-item v-for="item in currentMenu.menu" :item="item" :action="currentMenu.action" :cmd="currentMenu.cmd"></menu-item>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.6/dist/vue.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-i18n@9.1.7/dist/vue-i18n.global.min.js"></script>
<script src="./main.js"></script>


</html>